@font-face {
    font-family: 'Sohne-Bold';
    src: url("/assets/fonts/SöhneMono-Halbfett.otf");
  }

@font-face {
    font-family: 'Sohne-Mono';
    src: url("/assets/fonts/SöhneMono-Buch.otf");
  }
s
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    }    

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight : normal;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


body, html {
  background: #000;
  color: #fff;
  font-family: 'Sohne-Bold', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: bold;
  z-index: 1;
  cursor: default;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.grid-container {
    z-index: 100;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 33.333% 33.333% 5%;
    margin-top: 10.333%;
    margin-left: 20vw;
    width: 80%;
}

.grid-item {
    height: 33.33vh;
}

a{
    color: #fff;
    text-decoration: none;
}


h1{
    font-size: 16px;
}

h2{
    font-family: 'Sohne-Mono', 'Courier New', Courier, monospace;
    font-size: 16px;
    text-indent: 30px;
}


h4{
    font-family: 'Sohne-Mono', 'Courier New', Courier, monospace;
    font-size: 16px;
}

.sub-first, .sub-two, .sub-three, .sub-four, .sub-five, .sub-six{
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    width: auto;
    height: auto;
}


#roro:hover~.sub-first{
    opacity: 1;
}

#roro:hover, element.hover_effect {
    rule: properties;
}

#rua:hover~.sub-two{
    opacity: 1;
  
}

#con:hover + .sub-three, .sub-three:hover{ 
    opacity: 1;
    display:block;
}

#con:focus, #roro:focus, #addy:focus, #pu:focus, #te:focus{
    opacity: 1;
    display:block;
}

#addy:hover + .sub-four, .sub-four:hover{
    opacity: 1;
    display:block;
}


#pu:hover~.sub-five{
    opacity: 1;


}

#te:hover~.sub-six{
    opacity: 1;
  

}


.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;        
    }


.con {
    position: relative;
    animation-name: contact;
    animation-duration: 4s;
}

@keyframes contact {
    0%   {opacity:0; left:100%; top:0px;}
    48% {opacity:1; left:0px; top:0px;}

 }


 .teroro {
    position: relative;
    animation-name: Teroro;
    animation-duration: 4s;
}

@keyframes Teroro {
    0%   {opacity:0; top:100%;}
    47%  {opacity:0; left:0; top:100%;}
    100%  {opacity:1; left:0px; top:0px;}
 }

 .puwaha {
    position: relative;
    animation-name: puwaha;
    animation-duration: 4s;
}

@keyframes puwaha {
    0%   {opacity:0; margin-top:-86%;}
    46%  {opacity:0; margin-top:-86%;}
    100% {opacity:1; margin-top:0px;}
 }

 .ruawhetu {
    position: relative;
    animation-name: ruawhetu;
    animation-duration: 4s;
}

@keyframes ruawhetu {
    0%   {opacity:0; top:100%;}
    47%  {opacity:0; top:100%;}
    100%  {opacity:1; top:0px;}
 }

 .addy {
    position: relative;
    animation-name: addy;
    animation-duration: 4s;
}

@keyframes addy{
    0%   {opacity:0; right:100%; top:0px;}
    48% {opacity:1; right:0px; top:0px;}

 }
 
 .tetu {
    position: relative;
    animation-name: tetu;
    animation-duration: 4s;
}

@keyframes tetu {
    0%   {opacity:0; margin-top:-86%;}
    47%  {opacity:0; margin-top:-86%;}
    100% {opacity:1; margin-top:0px;}
 }


.haumi {
    position: relative;
    animation-name: haumi;
    animation-duration: 4s;
}

@keyframes haumi {
    0%   {opacity:0;}
    100% {opacity:1;}
 }

