@font-face {
    font-family: 'Sohne-Bold';
    src: url("/assets/fonts/SöhneMono-Halbfett.otf");
  }

@font-face {
    font-family: 'Sohne-Mono';
    src: url("/assets/fonts/SöhneMono-Buch.otf");
  }



a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    }    

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight : normal;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


body, html {
  background: #000;
  color: #fff;
  font-family: 'Sohne-Bold', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  z-index: 1;
  cursor: default;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.grid-container {
    z-index: 100;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 33.333% 33.333% 5%;
    margin-top: 10.333%;
    margin-left: 19.333%;
}

.grid-item {
    height: 33.33vh;
}

a{
    color: #fff;
    text-decoration: none;
}


h1{
    font-size: 16px;
}

h2{
    font-family: 'Sohne-Mono', 'Courier New', Courier, monospace;
    font-size: 16px;
    text-indent: 30px;
}


h4{
    font-family: 'Sohne-Mono', 'Courier New', Courier, monospace;
    font-size: 16px;
}

.sub-first, .sub-two, .sub-three, .sub-four, .sub-five, .sub-six{
    display: none;
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    background-color: #000;
    width: auto;
    height: auto;
}


#roro:hover + .sub-first, .sub-first:hover{
    opacity: 1;
    display:block;

}

#rua:hover + .sub-two, .sub-two:hover{
    opacity: 1;
    display:block;

}

#con:hover + .sub-three, .sub-three:hover{
    opacity: 1;
    display:block;
}

#addy:hover + .sub-four, .sub-four:hover{
    opacity: 1;
    display:block;
}


#pu:hover + .sub-five, .sub-five:hover{
    opacity: 1;
    display:block;

}

#te:hover + .sub-six, .sub-six:hover{
    opacity: 1;
    display:block;

}

