@media only screen and (max-width: 1000px) {

    .grid-container{
        margin-top: 4vh;
        margin-left: 0;
        width: 120%;
        height: 120%;
        grid-template-columns: 45% 10% 45%;
    }
    
    h2{
        text-indent: 0px;
    }

    h1, h3, h4{
        text-align: center;
    }

    h2 {
        margin-left: 8vw;
    }

    @keyframes puwaha {
        0%   {opacity:0; margin-top:-25vh;}
        46%  {opacity:0; margin-top:-25vh;}
        100% {opacity:1; margin-top:0px;}
     }


    @keyframes tetu {
        0%   {opacity:0; margin-top:-25vh;}
        47%  {opacity:0; margin-top:-25vh;}
        100% {opacity:1; margin-top:0px;}
    }

    h1, h2, h3, h4 {
        font-size: 12px;
    }


        
} 