@media only screen and (max-width: 768px) {

    .grid-container{
        margin-top: 3%;
        margin-left: 0;
        width: 99%;
        height: 130%;
    }
    
    h2{
        text-indent: 0px;
    }

    body, html {
        text-align: center;
} 